# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
[Mm]emoryCaptures/

# ===================================== #
# Visual Studio / Visual Studio Code IDE #
# ===================================== #
.vscode/
.vs/
*.sln
*.csproj
*.userprefs

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ========================= #
# Unity Project Directories #
# ========================= #
/[Aa]ssets/AssetStoreTools*
/[Pp]rojectSettings/PackageManagerSettings.json
/[Pp]rojectSettings/ProjectVersion.txt

# ======================== #
# UPM & Package Cache      #
# ======================== /
/Packages/packages-lock.json